<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  <h1>Jacqueline Zhou</h1>
  <p>A very boring person's very boring self introduction</p>
</div>
<div class="row">
  <div class="col">
    <p>I love my cat</p>
    <p>I'm a <a href="https://www.brandeis.edu">Brandeis</a> student</p>
    <img width="450" src="/images/Coco52.jpg">
  </div>
  <div class="col">
    <p>Couldn't control myself so I'm putting a second picture here</p>
    <img width="450" src="/images/Coco11.jpg">
  </div>
</div>

<%- include('bootfooter') -%>
