<%- include('bootheader') -%>

<%- include('menubar') -%>

<div class="jumbotron">
  <h1>Real-life Plague Inc Simulation</h1>
    <p>This is the web page to demonstrate the spreading progress of
      our fictious plague.</p>
    <br>
</div>
<div class="row">
  <div class="col">
    <img width="200" src="/images/plague-inc-sticker.jpg">
  </div>
  <div class="col">
    <img width="200" src="/images/temp-pic1.jpg">
  </div>
  <div class="col">
    <p>See the game's official website at
      <a href="https://www.ndemiccreations.com/en/22-plague-inc">Plague Inc</a>
    </p>
  </div>
</div>


<%- include('bootfooter') -%>
